{% assign cart_count = cart.item_count | plus:0 %}

<div id="CartDrawer" class="drawer drawer--right px-0 text-center">
  <div class="drawer__header pl-6 pr-8 relative border-0">
    <div class="drawer__header__inner pt-6 pb-4">
      <span class="uppercase">Your Cart</span>
    </div>
  </div>
  <div id="react-empty-cart">
    <script type="application/json">
      {
        "cartChair": "{{ 'cart-chair.gif' | asset_url }}",
        "cartCount": {{ cart.item_count | json }}
      }
    </script>
  </div>
  <div id="CartContainer" class="pl-6 pr-8"></div>
</div>
