
<div id="customer-wrapper" class="container mx-auto login-register-container">

  <div id="template" class="desktop-push-3 desktop-6 mt-20 tablet-3 mobile-3">
    <div class="template_header section_titile">
      <h3 class="font-bold text-black">Reset Account Password</h3>
      <p class="note mb-0">Enter a new password for {{ email }}</p>
    </div>

    {% form 'reset_customer_password', return_to: '/'  %}
    {{ form.errors | default_errors }}

    <div id="password" class="clearfix large_form">
      <label class="large" for="password">Password<span class="text-red-700">*</span></label>
      <input type="password" required value="" name="customer[password]" required id="customer_password" class="large password" size="16" />
    </div>
    <div id="password_confirm" class="clearfix large_form">
      <label class="large" for="password_confirmation">Password Confirmation<span class="text-red-700">*</span></label>
      <input type="password" required value="" name="customer[password_confirmation]" required id="customer_password_confirmation" class="large password" size="16" />
    </div>
    <div class="action_bottom">
      <input class="primary_btn" type="submit" value="Reset Password" />
    </div>
    {% endform %}
  </div>
</div>
