{% if settings.show_notfication and settings.notification_position == 'above-footer' -%}
  {% render 'notification' %}
{% endif %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}




<div class="footer-section footer-template" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="clear"></div>
  <div class="fast_order_main_container top" style='background-color: #133744,'>
    <div class="container">
      <!-- <div class="bg-white grid grid-center grid-cols-3 items-center"> -->
      <div class="fast_order_inner justify-between flex items-start" style='background: #F4F2EC;'>
        <h2 class="font-attila-sans-medium font-medium">Get 10% off <br>your first order</h2>
        <p class="">Sign up to receive 10% off your <br>first order, exclusive offers and <br>design updates.</p>
        <div class="newsletter">
          {% comment %} <div class="klaviyo-form-SxEnPF"></div> {% endcomment %}

          <form action=''>
            <input class='email_input' placeholder='Enter Email' type='emai'>
          </form>
          <p>By entering your email, you agree to Wallnut's Privacy Policy and Terms of <br>
          Service. You also agree to receive Wallnut offers, promotions, and other <br>commercial messages. 
          You may unsubscribe from our marketing emails at any <br>time.</p>
        </div>
      </div>

    </div>
  </div>


    <div class='footer_bg'>
        <div class='container'>
          <div class='footer_logo'>
            <img src='https://i.ibb.co/HPdHPCq/Vector.png'>
            <p>art work without work</p>
          </div>

          <div class='footer_opt_container'>
            <div class='footer_left'>
              <div class='footer_opt'>
                <p class='footer_title'>Support</p>
                <ul>
                  <li><a href='#'>FAQS</a></li>
                  <li><a href='#'>Returns</a></li>
                  <li><a href='#'>Shipping</a></li>
                  <li><a href='#'>Instructions</a></li>
                  <li><a href='#'>Accesibility</a></li>
                  <li><a href='#'>Afterpay</a></li>
                </ul>
              </div>

              <div class='footer_opt' id='none'>
                <p class='footer_title'>Shop</p>
                <ul>
                  <li><a href='#'>Shop by Size</a></li>
                  <li><a href='#'>Shop by Subject</a></li>
                  <li><a href='#'>Shop by Mood</a></li>
                  <li><a href='#'>Shop by Style</a></li>
                </ul>
              </div>
            </div>
            <div class='footer_right'>
             <div class='contact_footer_opt'>
                <p class='footer_title'>need a hand?</p>
              <p class='contact'>Contact Us</p>
              <p class='on_social_media'>Connect on social</p>

              <div class='social_media_icon'>
                  <div class='soc_ico'><a href='#'>@wallnut</a></div>
                  <div class='soc_ico'><a href='#'><i><img src='https://i.ibb.co/yyQYGLY/Vector.png'></i></a></div>
                  <div class='soc_ico'><a href='#'><i><img src='https://i.ibb.co/vd3P7d5/Vector.png'></i></a></div>
                  <div class='soc_ico'><a href='#'><i><img src='https://i.ibb.co/X7txq8Y/Vector.png'></i></a></div>
              </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>

  <style>
  .fast_order_main_container {
  padding: 72px 64px;
}

.fast_order_inner {
  padding: 75px 115px;
}

.footer-section .top h2 {
  font-size: 36px;
  line-height: 44px;
  font-family: 'AttilaSansUniform-Medium' !important;
}

.footer-section .top .newsletter p {
  font-size: 10px;
  line-height: 14px;
}

  .fast_order_inner h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.005em;
   margin: 0 15px 0 0;
    font-family: 'AttilaSansUniform-Medium' !important;
    }

      .fast_order_inner p {
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.01em;
          margin: 0 15px 0 0;
          font-family: 'GoodSans-Light' !important;
    }

    .klaviyo-form-SxEnPF p {
      font-weight: 300;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: -0.01em;
      margin-bottom: 0;
      font-family: 'GoodSans-Light' !important;
    }

    .email_input {
      width: 100%;
      font-size: 16px;
      font-weight: 300;
      position: relative;
      line-height: 24px;
      margin-bottom: 16px;
      background: transparent;
      border-bottom: 1px solid black;
      font-family: 'GoodSans-Light' !important;
    }

    .email_input::-webkit-input-placeholder {
      color: black;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      font-family: 'GoodSans-Light' !important;
    }

        .email_input:after {
          content: '';
            width: 17px;
  height: 10px;
  right: 19px;
  top: 19px;
  position: absolute;
  background-image: url(https://i.ibb.co/mhJXcrZ/Vector.png);
        }








        @media only screen and (max-width: 1354px) {

          .fast_order_inner {
            padding: 70px 70px;
          }

            .fast_order_inner h2 {
              font-size: 30px;
            }
        }



        @media only screen and (max-width: 1263px) {

          .footer-section .top h2 {
              font-size: 30px;
              line-height: 35px;
          }

          .fast_order_main_container {
              padding: 60px 40px;
          }

        .fast_order_inner {
            padding: 60px 60px;
        }

        }


        @media only screen and (max-width: 1149px) {

          .fast_order_main_container {
              padding: 54px 20px;
            }

            .fast_order_main_container {
                padding: 54px 35px;
            }
            .fast_order_inner {
                padding: 50px 30px;
            }

            .footer-section .top h2 {
                font-size: 25px;
                line-height: 29px;
            }
         }

         @media only screen and (max-width: 991px) {

            .fast_order_inner {
                flex-direction: column;
            }
         }



         .footer_bg {
           padding: 55px 64px 72px 64px;
           background-color: #376043;
         }

         .footer_logo {
           display: flex;
           align-items: center;
         }

          .footer_logo p {
            margin-left: 20px;
            margin-bottom: 0;
            color: white;
            font-weight: 300;
            letter-spacing: 3px;
            text-transform: uppercase;        
            font-family: 'AttilaSansUniform-semibold' !important;
          }

          .footer_left {
            display: flex;
            align-items: flex-start;
          }

            .footer_opt:first-child {
                margin-right: 137px;
            }

          .footer_opt_container {
            margin-top: 72px;
          }

          .footer_title {
            text-transform: uppercase;
            color: white;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.14em;
            margin-bottom: 16px;
            font-family: 'AttilaSansUniform-Medium' !important;
          }

          .footer_opt ul li {
            margin-bottom: 8px;
          } 

          .footer_opt ul li a {
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.01em;
            color: #FFFFFF;
            transition: 0.8s;
            border-bottom: 1px solid transparent;
            font-family: 'GoodSans-Light' !important;
          }

               .footer_opt ul li a:hover {
                 color: #ffffff54;
                  border-bottom: 1px solid #ffffff54;
               }

          .footer_opt_container {
             display: flex;
              justify-content: space-between;
              align-items: flex-start;
          }

          .contact_footer_opt {
            padding: 0 64px;
            border-left: 1px solid white;
          }

          .contact {
              font-weight: 300;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: -0.01em;
              color: #FFFFFF;
              margin-bottom: 32px;              
              font-family: 'GoodSans-Light' !important;
            }

          .on_social_media {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.14em;
              margin-bottom: 17px;              
              text-transform: uppercase;
              color: white;
              font-family: 'AttilaSansUniform-Medium' !important;
          }

          .social_media_icon {
            display: flex;
          }


          .soc_ico a:first-child {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.01em;
            color: white;
            text-transform: lowercase;
            transition: 0.8s;
            font-family: 'GoodSans-Light' !important;
          }

          .soc_ico a:first-child:hover {
            color: #ffffff54;
          }
          
          .soc_ico {
            margin-right: 20px;
          }
          
          .soc_ico:last-child {
            margin-right: 0;
          }

            .soc_ico a img {
              height: 20px;
              width: 20px;
              transition:0.7s;
            }
    
          .soc_ico a img:hover {
            opacity: 0.4;
          }
  </style>

  {% comment %} {% endcomment %}




{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "footer_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type":      "range",
      "id":        "footer_title_size",
      "min":       12,
      "max":       36,
      "step":       1,
      "unit":      "px",
      "label":     "Heading size",
      "default":   14
    },
    {
      "type": "checkbox",
      "id": "show_credit_cards",
      "label": "Show credit card icons",
      "default": true,
      "info": "The icons that show are determined by your store's payment settings."
    },
    {
      "type": "checkbox",
      "id": "payment_icon_color",
      "label": "Grayscale payment icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "Show site name and copyright",
      "default": true
    },
   {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
     "type": "checkbox",
     "id": "show_locale_selector",
     "label": "Show language selector",
     "default": true
    },
    {
      "type": "header",
      "content": "Currency Selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
     "type": "checkbox",
     "id": "show_currency_selector",
     "label": "Show currency selector",
     "default": true
    }
  ],
  "blocks":[
    {
      "type":"menu",
      "name":"Menu",
      "settings":[
        {
          "type": "link_list",
          "id": "footer_nav",
          "label": "Choose a menu",
          "info":"This menu won't show dropdown items"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Explore"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 2,
      "settings":[
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About"
        },
        {
          "id": "footer_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Add some text to your footer.</p>"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter signup",
      "limit": 1,
      "settings":[
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "connect"
        },
        {
          "type": "richtext",
          "id": "mailing_subheading",
          "label": "Subheading",
          "default": "<p>Join our mailing list for updates</p>"
        }
      ]
	  }
  ]
}
{% endschema %}
