<div id="react-how-it-works">
  <script type="application/json">
    {
      "themeSettings": {{ settings | json }},
      "settings": {{ section.settings | json }}
    }
  </script>
</div>

{% schema %}
{
  "name": "How It Works",
  "settings": [
  ],
  "blocks": [
      {
        "name": "Image With Text",
        "type": "section",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }, 
          {
            "type": "text",
            "id": "link_icon",
            "label": "Icon with Link",
            "info": "Icon to add before/after the link"
          },
          {
            "type": "select",
            "id": "link_icon_position",
            "label": "Icon Position",
            "options": [
                {
                    "value": "before",
                    "label": "Before Link Text"
                },
                {
                    "value": "after",
                    "label": "After Link Text"
                }
            ]
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          }
        ]
      }
  ]
}
{% endschema %}