<div id="react-how-it-works">
  <script type="application/json">
    {
      "themeSettings": {{ settings | json }},
      "settings": {{ section.settings | json }}
    }
  </script>
</div>

{% schema %}
{
  "name": "How It Works",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "We’re not your typical"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "art company"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "We want to innovate the art experience. We were tired of having to choose between quality, style, and convenience, so we started Wallnut to set a new standard."
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button Text 1",
      "default": "Shop Best sellers"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button Link 1"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button Text 2",
      "default": "shop all"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button Link 2"
    }
  ]
}
{% endschema %}