<div id="react-index-betterway">
  <script type="application/json">
    {
      "themeSettings": {{ settings | json }},
      "settings": {{ section.settings | json }}
    }
  </script>
</div>

{% schema %}
{
  "name": "Better way/how it works",
  "settings": [
  ],
  "presets": [
    {
      "name": "Better way/how it works",
      "category": "Content"
    }
  ]
}
{% endschema %}