<div id="react-instructions-videos">
    <script type="application/json">
        {
            "settings": {{ section.settings | json }},
            "blocks": [
              {% for block in section.blocks %}
                  {
                      "settings": {{ block.settings | json }},
                      "type": {{ block.type | json }},
                      "shopify_attributes": {{ block.shopify_attributes | json }}
                  }
                  {% if forloop.last != true %},{% endif %}
              {% endfor %}
            ]
        }
    </script>
</div>

{% schema %}
{
    "name": "Instructions Videos",
    "max_blocks": 40,
    "blocks": [
        {
            "type": "instructions_video",
            "name": "Instruction Video",
            "settings": [
                {
                    "type": "text",
                    "id": "video_heading",
                    "label": "Video Heading"
                },
                {
                    "type": "text",
                    "id": "video_link",
                    "label": "Video Link"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Section Heading"
        }
    ]
}
{% endschema %}
