<div id="react-meet-wallnut">
  <script type="application/json">
    {
      "settings": {{ section.settings | json }},
      "blocks": [
        {% for block in section.blocks %}
            {
                "settings": {{ block.settings | json }},
                "type": {{ block.type | json }},
                "shopify_attributes": {{ block.shopify_attributes | json }}
            }
            {% if forloop.last != true %},{% endif %}
        {% endfor %}
      ]
    }
  </script>
</div>

{% schema %}
{
  "name": "Meet Wallnut",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Meet Wallnut: a better way to art"
    },
    {
      "type": "textarea",
      "id": "main_content",
      "label": "Content",
      "default": "We're taking the work out of artwork with premium, framed art that's easy to hang."
    }
  ],
  "blocks": [
    {
      "name": "Image With Text",
      "type": "section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },   
        {
          "type": "richtext",
          "id": "content_r",
          "label": "Content R"
        },
        {
          "type": "header",
          "content": "Add points if any"
        },
        {
          "type": "text",
          "id": "point_title_1",
          "label": "Title 1"
        },
        {
          "type": "textarea",
          "id": "point_content_1",
          "label": "Content 1"
        },
        {
          "type": "text",
          "id": "point_title_2",
          "label": "Title 2"
        },
        {
          "type": "textarea",
          "id": "point_content_2",
          "label": "Content 2"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "video_btn_text",
          "label": "Video Button Text"
        },
        {
          "type": "text",
          "id": "video_link",
          "label": "Video Link"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Subtext"
        }
      ]
    }
  ]
}
{% endschema %}