<div class="index-sections">
  {{ content_for_index }}
</div>

<!--
<div class='review_main_container'>
  <div class='container'>
    <div class='review_inner_items'>
      <div class='left'>
      <h2>Rated excellent by you</h2>
      <p>Don’t just take it from us. Explore <br>the most loved, easy-to-hang art <br>pieces that everyone is talking <br>about. </p>
      </div>
      <div class='right'>
        <div class='review_card'>
          <div class='img'><img src='https://i.ibb.co/NVsrFxQ/Rectangle-21.png'></div>
          <div class='rating_start'>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>

          <p>“This is the review. Lorem ipsum dolor sit <br>amet, consectetur adipiscing elit. Amet, <br>porta in vitae sed ac convallis.”</p>
          <span>-Sarah Smith</span>
        </div>

           <div class='review_card'>
          <div class='img'><img src='https://i.ibb.co/ZX83cH5/Rectangle-22.png'></div>
           <div class='rating_start'>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>

          <p>“This is the review. Lorem ipsum dolor sit <br>amet, consectetur adipiscing elit. Amet, <br>porta in vitae sed ac convallis.”</p>
          <span>-Sarah Smith</span>
        </div>

           <div class='review_card'>
          <div class='img'><img src='https://i.ibb.co/ZX83cH5/Rectangle-22.png'></div>
           <div class='rating_start'>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>

          <p>“This is the review. Lorem ipsum dolor sit <br>amet, consectetur adipiscing elit. Amet, <br>porta in vitae sed ac convallis.”</p>
          <span>-Sarah Smith</span>
        </div>
      </div>
    </div>
  </div>
</div>
-->



<style>

.review_inner_items .left h2 {
  // font-weight: 500;
  // font-size: 24px;
  // line-height: 32px;
  // letter-spacing: -0.005em;
  margin-bottom: 16px;
  // font-family: 'AttilaSansUniform-Medium' !important;
}

.review_inner_items .left {
    max-width: 285px;
    width: 100%;
    margin-top: 96px;
}

.review_inner_items .left p {
  /* font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  font-family: 'GoodSans' !important; */
}

.review_inner_items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.review_inner_items .right {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.review_card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  max-width: 290px;
}

.rating_start {
  margin-top: 13px;
}

.rating_start i {
  font-size: 20px;
  margin: 0px 0px;
}

.review_card p {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  margin-top: 12px !important;
  margin-bottom: 16px !important;
  letter-spacing: -0.01em !important;
  font-family: 'GoodSans' !important;
}

.review_card span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'GoodSans' !important;
}


@media only screen and (max-width: 1265px) { 

  .review_card p br {
    display: none;
  }

  .rating_start i {
    font-size: 17px;
  }
}


@media only screen and (max-width: 991px) {

  .review_inner_items {
    flex-direction: column;
  }

  .review_inner_items .left {
    margin-top: 0;
  }

  .review_inner_items .left {
    max-width: 100%;
  }


}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .review_card {
    max-width: 65% !important;
  }
}
@media only screen and (max-width: 768px) {

    .review_inner_items .right {
        overflow-x: scroll !important;
      display: -webkit-box !important;
  }

.review_card .img img {
    width: 100%; 
    max-width: 100%;
}

  .review_card {
    max-width: 80%;
}

}

</style>









<style>

.review_inner_items .left h2 {
  /* font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.005em; */
  margin-bottom: 16px;
  //font-family: 'AttilaSansUniform-Medium' !important;
}

@media (min-width: 991px) and (max-width: 1099px) {
  .review_inner_items .review_inner_items .left h2 {
    font-size: 21px!important;
    line-height: 29px!important;
  }
  .review_inner_items .review_inner_items .left p {
    font-size: 14px!important;
    line-height: 22px!important;
  }
}
@media (min-width: 769px) and (max-width: 990px) {
  .review_inner_items .review_card p {
    font-size: 13px !important;
  }
}
@media (max-width: 990px) {
  .review_inner_items .left p {
    margin-bottom: 32px !important;
  }
}

.review_inner_items .left {
    max-width: 285px;
    width: 100%;
    margin-top: 96px;
}

.review_inner_items .left p {
 //  font-weight: 400;
  // font-size: 16px;
  // line-height: 24px;
  // letter-spacing: -0.01em;
  // font-family: 'GoodSans' !important;
}

.review_inner_items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.review_inner_items .right {
    display: flex;
    justify-content: space-between;
}

.rating_start {
  margin-top: 13px;
}

.rating_start i {
  font-size: 20px;
  margin: 0px 0px;
}

.review_card p {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  margin-top: 12px !important;
  margin-bottom: 16px !important;
  letter-spacing: -0.01em !important;
  font-family: 'GoodSans' !important;
}

.review_card span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'GoodSans' !important;
}


@media only screen and (max-width: 1265px) {

  .review_card p br {
    display: none;
  }

  .rating_start i {
    font-size: 17px;
  }
}


@media only screen and (max-width: 991px) {

  .review_inner_items {
    flex-direction: column;
  }

  .review_inner_items .left {
    margin-top: 0;
  }

  .review_inner_items .left {
    max-width: 100%;
  }
  .review_inner_items .right {
    margin-left: 0 !important;
  }

}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .review_card {
    max-width: 65% !important;
  }
}
@media only screen and (max-width: 768px) {

    .review_inner_items .right {
        overflow-x: scroll !important;
      display: -webkit-box !important;
  }

.review_card .img img {
    width: 100%; 
    max-width: 100%;
}

  .review_card {
    max-width: 80%;
}

}

</style>







<!-- <div class="yotpo yotpo-reviews-carousel"
 data-header-customisation-enabled="1"
 data-header-customisation-color="#142634"
 data-header-customisation-font-size="18"
 data-header-customisation-text="Customer Reviews"
 data-header-customisation-alignment="center"
 data-background-color="transparent"
 data-mode="top_rated"
 data-type="product"
 data-count="4"
 data-show-navigation="1"
 data-testimonials-page-enabled="1"
 data-testimonials-page-text="Read all reviews"
 data-testimonials-page-link="https://levityhome.com/pages/reviews">&nbsp;</div> -->
